@font-face { font-family: JuneBug; src: url('SaphirosPolice-Regular(1).ttf');}
*{
	font-family: JuneBug;
}

body{
    background-image: url(https://i.ibb.co/L0GNf6D/fond-siteethernet.png)
    }
 button{
  background-color: black;
  padding: 1px 10px 1px 10px;
  border: 200px;
  margin: 5px;
  border-radius: 5px
  }
  h5 {
   color: cyan;
   
  }
  body{
    background-size: 2500px
  }
  h2{
      
  text-align: center;
    color: rgb(230, 243, 225);
  }
  h3{
    
  text-align: center;
  }
  h4{
   
  text-align: center;
    color: rgb(230, 243, 225);
  }
  h1{
  
  text-align: center;
  }
  h6{
    
  text-align: center;
  }
  p{
   
  text-align: center;
  }
  .button_reseaux{
    background-color: blueviolet
  }
